{% extends "layout.html" %}
{% block body %}

<div class="style">
	<div id="tabnavi">
		<div class="size">
			<div id="move_tab">
				<ul>
					<li><a href="/">トップ</a></li>
					<li><a href="portfolio">ポートフォリオ</a></li>
					<li><a href="artifact">成果物管理</a></li>
					<li><a href="goal">ゴール設定</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<form action="" method="post" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="submit" class="btn btn-primary" value="Upload">
</form>
{% for file in ls %}
<p>
	{{file}}
</p>
{% endfor %}

{% endblock %}
