{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function(){
  var Top = document.getElementById('Top');
   Top.style.backgroundColor = "#888";
  var Portfolio = document.getElementById('Portfolio');
    Portfolio.style.backgroundColor = "#888";
  var Artifact = document.getElementById('Artifact');
    Artifact.style.backgroundColor = "#dcdcdc";
  var Goal = document.getElementById('Goal');
    Goal.style.backgroundColor = "#888";
}

/*タブの移動*/
$("#move_tab").css("float", "right");

/*タブの文字の色*/
$("#topcolor").css("color", "#666");
$("#portcolor").css("color", "#666");
$("#artcolor").css("color", "#fff");
$("#goalcolor").css("color", "#666");

/*mouseover*/
  /*トップ*/
  $("li#Top").mouseover(function(){
    $("#Top").css("backgroundColor","#dcdcdc");
    $("#topcolor").css("color", "#fff");
  });
  $("li#Top").mouseout(function(){
    $("#Top").css("backgroundColor","#888");
    $("#topcolor").css("color", "#666");
  });

  /*成果物管理*/
  $("li#Portfolio").mouseover(function(){
    $("#Portfolio").css("backgroundColor","#dcdcdc");
    $("#portcolor").css("color", "#fff");
  });
  $("li#Portfolio").mouseout(function(){
    $("#Portfolio").css("backgroundColor","#888");
    $("#portcolor").css("color", "#666");
  });

  /*ゴール*/
  $("li#Goal").mouseover(function(){
    $("#Goal").css("backgroundColor","#dcdcdc");
    $("#goalcolor").css("color", "#fff");
  });
  $("li#Goal").mouseout(function(){
    $("#Goal").css("backgroundColor","#888");
    $("#goalcolor").css("color", "#666");
  });


  /*border- riadius*/
  $("#Top").css("border-radius","5px 5px 0px 0px");
  $("#Portfolio").css("border-radius","5px 5px 0px 0px");
  $("#Artifact").css("border-radius","5px 5px 0px 0px");
  $("#Goal").css("border-radius","5px 5px 0px 0px");
 
  /*padding*/
  $("#Top").css("padding","5px");
  $("#Portfolio").css("padding","5px");
  $("#Artifact").css("padding","5px");
  $("#Goal").css("padding","5px");
});
</script>
 <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <div Class="style">
    <div id="tabnavi">
      <div Class="size">
        <div id="move_tab">
          <ul>
            <li id="Top"><a id="topcolor" href="/">&nbsp;&nbsp;&nbsp;トップ&nbsp;&nbsp;&nbsp;</a></li>
            <li id="Portfolio"><a id="portcolor" href="/portfolio">ポートフォリオ</a></li>
            <li id="Artifact"><a id="artcolor" href="/artifact">成果物管理</a></li>
            <li id="Goal"><a id="goalcolor" href="/goal">ゴール設定</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <form action="" method=post enctype=multipart/form-data>
	<p><input type="text" name=directoryname>
	   <input type=submit value=フォルダ作成 class="btn btn-secondry">
	<p><input type="file" name=file>
	   <input type=submit value=Upload class="btn btn-secondry">
      </form>
      {% for dirdisplay, dirurl in dir %}
        <br/>
        <i class="icon-folder-close"></i><a href={{"/artifact/"+dirpath+dirurl}}>{{dirdisplay}}</a>
	    {% endfor %}
      {% for filedisplay, fileurl in ls %}
        <br/>
        <i class="icon-file"></i><a href={{"/view_file/"+dirpath+fileurl}} target="_blank">{{filedisplay}}</a>
      {% endfor %}
    </div>
</div>
{% endblock %}
