{% extends "layout.html" %}
{% block body %}
<!-- <h1>ゴールページ</h1> -->
<div class="style">
	<div id="tabnavi">
		<div class="size">
			<div id="move_tab">
				<ul>
					<li><a href="/">トップ</a></li>
					<li><a href="portfolio">ポートフォリオ</a></li>
					<li><a href="artifact">成果物管理</a></li>
					<li><a href="goal">ゴール設定</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<form method="post" action="/goal">
	<h3>ゴール：{{goal_text}}</h3>
	<textarea name="goal_text" rows="5" cols="40"></textarea><br />
	<input type="submit" class="btn btn-primary" value="設定">
</form>

{% endblock %}
