<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <link href="/static/css/base.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>E-portfolio</title>
</head>
  
<body>
  <a href="/"><img src="/static/img/logo.png"></a>
  <div class="prof">
      <div id="usrname">
        {{username}}
        <input type="button" onclick="location.href='/logout'" value="設定" class="btn btn-inverse">
        <div id="logoutbtn">
          <input type="button" onclick="location.href='/logout'" value="ログアウト" class="btn-mini btn-info">
        </div>
      </div>   
    </div>
  {% block body %}
  {% endblock %}
</body>
</html>
