{% extends "layout.html" %}
{% block body %}
<div class="style">
	<div id="tabnavi">
		<div class="size">
			<div id="move_tab">
				<ul>
					<li>
						<a href="/">トップ</a>
					</li>
					<li>
						<a href="portfolio">ポートフォリオ</a>
					</li>
					<li>
						<a href="artifact">成果物管理</a>
					</li>
					<li>
						<a href="goal">ゴール設定</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
      ポートフォリオ作成<br>

      <form action="new" method="post">
        <textarea name="new_text" rows="5" cols="120" Class="new"></textarea><br>
  		  <input type="submit" value="作成" class="btn btn-primary" style="width:100px; height:40px">
    		<a href="portfolio"><input type="button" value="戻る" class="btn btn-secondry"	style="width:100px; height:40px">
      </form>

<textarea name="new_text" rows="5" cols="120" Class="new"></textarea><br>
<input type="button" value="作成" class="btn btn-primary" style="width:100px; height:40px">
<a href="portfolio"><input type="button" value="戻る" class="btn btn-secondry"	style="width:100px; height:40px"></a>

{% endblock %}
