{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function(){
  var Top = document.getElementById('Top');
   Top.style.backgroundColor = "#dcdcdc";
  var Portfolio = document.getElementById('Portfolio');
    Portfolio.style.backgroundColor = "#888";
  var Artifact = document.getElementById('Artifact');
    Artifact.style.backgroundColor = "#888";
  var Goal = document.getElementById('Goal');
    Goal.style.backgroundColor = "#888";


/*タブの移動*/
/*その場しのぎしてます*/
$("#move_tab").css("margin-left", "235px");

/*タブの文字の色*/
$("#topcolor").css("color", "#666");
$("#portcolor").css("color", "#fff");
$("#artcolor").css("color", "#fff");
$("#goalcolor").css("color", "#fff");

/*mouseover*/
  /*ポートフォリオ*/
  $("li#Portfolio").mouseover(function(){
    $("#Portfolio").css("backgroundColor","#dcdcdc");
    $("#portcolor").css("color", "#666");
  });
  $("li#Portfolio").mouseout(function(){
    $("#Portfolio").css("backgroundColor","#888");
    $("#portcolor").css("color", "#fff");
  });

  /*成果物管理*/
  $("li#Artifact").mouseover(function(){
    $("#Artifact").css("backgroundColor","#dcdcdc");
    $("#artcolor").css("color", "#666");
  });
  $("li#Artifact").mouseout(function(){
    $("#Artifact").css("backgroundColor","#888");
    $("#artcolor").css("color", "#fff");
  });

  /*ゴール*/
  $("li#Goal").mouseover(function(){
    $("#Goal").css("backgroundColor","#dcdcdc");
    $("#goalcolor").css("color", "#666");
  });
  $("li#Goal").mouseout(function(){
    $("#Goal").css("backgroundColor","#888");
    $("#goalcolor").css("color", "#fff");
  });

  /*border- riadius*/
  $("#Top").css("border-radius","5px 5px 0px 0px");
  $("#Portfolio").css("border-radius","5px 5px 0px 0px");
  $("#Artifact").css("border-radius","5px 5px 0px 0px");
  $("#Goal").css("border-radius","5px 5px 0px 0px");
 
  /*padding*/
  $("#Top").css("padding","5px");
  $("#Portfolio").css("padding","5px");
  $("#Artifact").css("padding","5px");
  $("#Goal").css("padding","5px");
});
</script>
  <style>
    .seikaimg {
       width: 100%;
       height: 100%;
    }
    
    h2 {
      margin-bottom: 0;
    }
    
    small {
      display: block;
      margin-top: 40px;
      font-size: 9px;
    }
    
    small,
    small a {
      color: #666;
    }
    
    a {
      color: #000;
      text-decoration: underline;
      cursor: pointer;
    }
    
    #toolbar [data-wysihtml5-action] {
    }
    
    #toolbar,
    textarea {
      width: 850px;
      padding: 5px;
    }
    
    textarea {
      height: 280px;
      border: 2px solid green;
      font-family: Verdana;
      font-size: 11px;
    }
    
    textarea:focus {
      color: black;
      border: 2px solid black;
    }
    
    .wysihtml5-command-active {
      font-weight: bold;
    }
    
    [data-wysihtml5-dialog] {
      margin: 5px 0 0;
      padding: 5px;
      border: 1px solid #666;
    }
    
    /*a[data-wysihtml5-command-value="red"] {
      color: red;
    }
    
    a[data-wysihtml5-command-value="green"] {
      color: green;
    }
    
    a[data-wysihtml5-command-value="blue"] {
      color: blue;
    }*/
  </style>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <div Class="style">
    <div id="tabnavi">
      <div Class="size">
        <div id="move_tab">
          <ul>
            <li id="Top"><a id="topcolor" href="/">&nbsp;&nbsp;&nbsp;トップ&nbsp;&nbsp;&nbsp;</a></li>
            <li id="Portfolio"><a id="portcolor" href="portfolio">ポートフォリオ</a></li>
            <li id="Artifact"><a id="artcolor" href="artifact">成果物管理</a></li>
           <li id="Goal"><a id="goalcolor" href="goal">ゴール設定</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="prof">
      <div id="usrname">
        {{username}}
        <input type="button" onclick="location.href='/logout'" value="設定" class="btn btn-secondly">
        <div id="logoutbtn">
          <input type="button" onclick="location.href='/logout'" value="ログアウト" class="btn btn-secondly">
        </div>
      </div>   
    </div>
    <div class="box">
      <h3>ポートフォリオ作成</h3><br>
      <form id='form' name='form' method="post" action="new" target="">
        <div id="toolbar" style="display: none;">
          <a data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
          <a data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
          <!-- <a data-wysihtml5-command="createLink">insert link</a> | -->
          <!-- <a data-wysihtml5-command="insertImage">insert image</a> | -->
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
          <a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
          <a data-wysihtml5-command="insertUnorderedList">箇条書き</a>
          <!-- <a data-wysihtml5-command="insertOrderedList">連番</a> | -->
          <!-- <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a> | -->
          <!-- <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a> | -->
          <!-- <a data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a> | -->
          <!-- <a data-wysihtml5-command="insertSpeech">speech</a>-->  ||
          <a data-wysihtml5-action="change_view">switch to html view</a>
          
          <div data-wysihtml5-dialog="createLink" style="display: none;">
            <label>
              Link:
              <input data-wysihtml5-dialog-field="href" value="http://">
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
          
          <div data-wysihtml5-dialog="insertImage" style="display: none;">
            <label>
              Image:
              <input data-wysihtml5-dialog-field="src" value="http://">
            </label>
            <label>
              Align:
              <select data-wysihtml5-dialog-field="className">
                <option value="">default</option>
                <option value="wysiwyg-float-left">left</option>
                <option value="wysiwyg-float-right">right</option>
              </select>
            </label>
            <a data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a data-wysihtml5-dialog-action="cancel">Cancel</a>
          </div>
        </div>

        <textarea id="textarea" name="textarea"></textarea>
        <small>powered by <a href="https://github.com/xing/wysihtml5" target="_blank">wysihtml5</a>.</small>
        <div id="prebtn"><input type="submit" name="button" value="プレビュー" class="btn btn-secondry" style="width:100px; height:30px" onClick="sendPreview()"></div>

        公開範囲<br>
        <input type="radio" name="q1" value="open"> 公開<br>
        <input type="radio" name="q1" value="closed"> 非公開(下書きとして保存されます)<br>
       
        <br>
        <input type="submit" name="button" value="保存" class="btn btn-primary" style="width:100px; height:30px" onClick="sendSave()">
        <!-- <a href="portfolio"><input type="button" value="キャンセル" class="btn btn-secondry" style="width:100px; height:30px"></a> -->

        <div class="portfolio_kanri">
          {% for imgname in imglist %}
            <img src="/view_file/{{imgname}}" class="seikaimg">
          {% endfor %}
          {% for art_name in artifact_list %}
            <p><a href="/view_file/{{art_name}}" target = '_blank'>{{art_name}}</a></p>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>

<script language="JavaScript"><!--
function sendPreview()
{
  document.getElementById('form').target = '_blank';
  document.getElementById('form').action = 'preview';
}
function sendSave()
{
  document.getElementById('form').target = '';
  document.getElementById('form').action = 'new';
}
// --></script>
<script src="../static/js/parser_rules/advanced.js"></script>
<script src="../static/js/dist/wysihtml5-0.3.0.js"></script>
<script>
  var editor = new wysihtml5.Editor("textarea", {
    toolbar:      "toolbar",
    stylesheets:  "../static/css/wysihtml5.css",
    parserRules:  wysihtml5ParserRules
  });
  
  var log = document.getElementById("log");
  
  editor
    .on("load", function() {
      log.innerHTML += "<div>load</div>";
    })
    .on("focus", function() {
      log.innerHTML += "<div>focus</div>";
    })
    .on("blur", function() {
      log.innerHTML += "<div>blur</div>";
    })
    .on("change", function() {
      log.innerHTML += "<div>change</div>";
    })
    .on("paste", function() {
      log.innerHTML += "<div>paste</div>";
    })
    .on("newword:composer", function() {
      log.innerHTML += "<div>newword:composer</div>";
    })
    .on("undo:composer", function() {
      log.innerHTML += "<div>undo:composer</div>";
    })
    .on("redo:composer", function() {
      log.innerHTML += "<div>redo:composer</div>";
    });
</script>
{% endblock %}
