{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$(function(){
  var Top = document.getElementById('Top');
   Top.style.backgroundColor = "#888";
  var Portfolio = document.getElementById('Portfolio');
    Portfolio.style.backgroundColor = "#dcdcdc";
  var Artifact = document.getElementById('Artifact');
    Artifact.style.backgroundColor = "#888";
  var Goal = document.getElementById('Goal');
    Goal.style.backgroundColor = "#888";

/*タブの移動*/
$("#move_tab").css("float", "right");

/*タブの文字の色*/
$("#topcolor").css("color", "#fff");
$("#portcolor").css("color", "#666");
$("#artcolor").css("color", "#fff");
$("#goalcolor").css("color", "#fff");

/*mouseover*/
  /*トップ*/
  $("li#Top").mouseover(function(){
    $("#Top").css("backgroundColor","#dcdcdc");
    $("#topcolor").css("color", "#666");
  });
  $("li#Top").mouseout(function(){
    $("#Top").css("backgroundColor","#888");
    $("#topcolor").css("color", "#fff");
  });

  /*成果物管理*/
  $("li#Artifact").mouseover(function(){
    $("#Artifact").css("backgroundColor","#dcdcdc");
    $("#artcolor").css("color", "#666");
  });
  $("li#Artifact").mouseout(function(){
    $("#Artifact").css("backgroundColor","#888");
    $("#artcolor").css("color", "#fff");
  });

  /*ゴール*/
  $("li#Goal").mouseover(function(){
    $("#Goal").css("backgroundColor","#dcdcdc");
    $("#goalcolor").css("color", "#666");
  });
  $("li#Goal").mouseout(function(){
    $("#Goal").css("backgroundColor","#888");
    $("#goalcolor").css("color", "#fff");
  });


  /*border- riadius*/
  $("#Top").css("border-radius","5px 5px 0px 0px");
  $("#Portfolio").css("border-radius","5px 5px 0px 0px");
  $("#Artifact").css("border-radius","5px 5px 0px 0px");
  $("#Goal").css("border-radius","5px 5px 0px 0px");
 
  /*padding*/
  $("#Top").css("padding","5px");
  $("#Portfolio").css("padding","5px");
  $("#Artifact").css("padding","5px");
  $("#Goal").css("padding","5px");
});
</script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <div Class="style">
    <div id="tabnavi">
      <div Class="size">
        <div id="move_tab">
          <ul>
            <li id="Top"><a id="topcolor" href="/">&nbsp;&nbsp;&nbsp;トップ&nbsp;&nbsp;&nbsp;</a></li>
            <li id="Portfolio"><a id="portcolor" href="portfolio">ポートフォリオ</a></li>
            <li id="Artifact"><a id="artcolor" href="artifact">成果物管理</a></li>
            <li id="Goal"><a id="goalcolor" href="goal">ゴール設定</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <h3>ポートフォリオ</h3>
      <a href="new"><input type="button" value="新規" class="btn btn-primary" ></a><br><br>
        {% for date, portlist in zipped %}
        <h4>
          <p>{{date}}</p>
        </h4>
        <h4>
          {% for portfolio in portlist %}
            <p><a href={{"/view_file/"+portfolio}}>{{portfolio}}</a></p>
          {% endfor %}
        </h4>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}
