{% extends "layout.html" %}
{% block body %}
  
  <div class="box">
 	    <div class="user">ユーザー情報</div>
 	    <div class="border"></div>
      <div class="probox">
 	      <div class="userinfo">
 	    	 学籍番号&emsp;<input type="text" name="number_text" style="width:100px;">
 	      <br>
 	 	    ユーザー&emsp;<input type="text" name="user_text" style="width:100px;">
 	 	    <br>
 	 	    パスワード&emsp;現在のパスワード
 	 	    <br>
        <input type="text" name="pass_text" style="width:100px;">
        <br>
        新しいパスワード
        <br>
        <input type="text" name="newpass_text" style="width:100px;">
        <br>
        再入力
        <br>
        <input type="text" name="pass_text" style="width:100px;">
        <br>
        <SELECT>
          <OPTION value="0">所属</OPTION>
          <OPTION value="1">情報システムコース</OPTION>
          <OPTION value="2">情報デザインコース</OPTION>
          <OPTION value="3">複雑系知能コース</OPTION>
          <OPTION value="4">複雑系コース</OPTION>
          <OPTION value="5">未配属</OPTION>
        </SELECT>
 	    	</div>
  	   </div>
  </div>
{% endblock %}