{% extends "layout.html" %}
{% block body %}
<div class="style">
	<div id="tabnavi">
		<div class="size">
			<div id="move_tab">
				<ul>
					<li>
						<a href="/">トップ</a>
					</li>
					<li>
						<a href="portfolio">ポートフォリオ</a>
					</li>
					<li>
						<a href="artifact">成果物管理</a>
					</li>
					<li>
						<a href="goal">ゴール設定</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

ここはトップページです.<br>
いつかは更新情報など載せていきたいです.<br>
今はまだ放置でいいです.<br>
<!-- <a href = "portfolio">ポートフォリオ</a>
<a href = "goal">ゴール設定</a>
<a href = "artifact">成果物</a> -->

{% endblock %}
